body, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/*p {
    margin: 0;
}

/* Header */
nav {
background-color: black;
}

nav ul {
    width: 1020px;
    margin: 0px auto;
}

nav ul li {
    width: 250px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
    font-size: 20px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
    text-decoration: none;
}

nav ul li:hover,
nav ul li:active {
    border-bottom: 1px solid white;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

.FirstLogo {
    background-color: black;
}

.FirstLogo img {
display: block;
margin: 0px auto;
position: relative;
}

/* Main catalog */
h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: black;
}

.container {
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.guns {
    display: inline-block;
    border: 2px solid white;
    padding: 30px;
    margin: 60px;
    border-radius: 15px;
    text-align: center;
}

/* contact main */
.container-grid-info {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 200px;
    padding: 50px;
}

.box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}

.box2 {
    grid-column: 4 / 6;
    grid-row: 1 / 1;
}

.box3 {
    grid-column: 1 / 4;
}

.obchod img {
    height: 250px;
    height: 250px;
    margin-top: 10px;
}

/* footer main */ 
.footer {
    text-align: center;
    background-color: rgb(53, 50, 50);
    color: white;
    margin-top: 264px;
    margin-bottom: 0;
}

